node_modules
.next
out/

# Coverage directory used by jest
coverage
coverage-report
.nyc_output

# Serverless
.serverless

# environment configuration file
.env

# Webpack directories
.webpack

#Lerna debug info
lerna-debug.log

# appsync offline
.dynamodb

# VS code
.vscode/launch.json

# Next.js generates this automatically
next-env.d.ts
