[tools]
nodejs = '22.19.0'
pnpm = '10.17.0'
[env]
AWS_REGION = 'eu-central-1'
_.source = 'scripts/set_sst_stage.sh'

[tasks.aws-sso-check]
description = 'Check AWS SSO login status'
run = 'bash scripts/aws_sso.sh'

[tasks."sst deploy"]
alias = 'sstd'
description = 'Deploy using SST (with AWS SSO check and branch-based stage)'
run = [
  'pnpm sst deploy'
]
depends = ['aws-sso-check']

[tasks."sst remove"]
alias = 'sstr'
description = 'Remove SST stack (with AWS SSO check and branch-based stage)'
run = [
  'pnpm sst remove'
]
depends = ['aws-sso-check']

[tasks."lint"]
alias = 'lt'
description = 'Runs Biome lint + formatter check'
run = [
    'pnpm run lint'
]

[tasks."lint:fix"]
alias = 'ltf'
description = 'Runs Biome lint + formatter fix'
run = [
    'pnpm run lint:fix'
]

[tasks."trpc:panel"]
alias = 'trpn'
description = 'Starts tRPC local UI/Panel'
dir = 'packages/trpc-api'
run = [
    'pnpm tsx src/trpcUi.ts'
]