name: Deploy Branch
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - staging
      #todo: remove me 1
      - plt-387
permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout
jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js and pnpm
        uses: "./.github/actions/setup_node_and_pnpm"

      - name: Assume AWS role
        uses: "./.github/actions/configure_aws_credentials"

      - name: Deploy
        run: mise sst:dev
